[Unit]
Description=MiniCRM
After=network.target

[Service]
Type=simple
User=totem
WorkingDirectory=/home/totem/minicrm
ExecStart=/home/totem/minicrm/venv/bin/python -m uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target